/* section 1 */

main section:first-of-type {
    background-color: var(--background-zwart);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1em;
}

main section:first-of-type h2 {
    font-family: legofont;
    font-weight: 400;
    font-size: 1.25em;
    color: var(--color-text-wit);

    padding:0 1rem;
    text-align: center;
}

main section:first-of-type p {
    font-family: legofont;
    font-weight: 400;
    font-size: 1em;
    
    margin-top: 0;
    color: var(--color-text-wit);

    padding:0 1rem;
    text-align: center;
}


main section:first-of-type ul {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:1em;
}

main section:first-of-type ul li a {
    font-family: legofont;
    font-weight: 500;
    font-size: 1em;

    display: flex;
    gap:.75em;
    align-items: center;
    justify-content: center;

    background-color: var(--color-text-wit); /* Achtergrondkleur */
    color: var(--color-text-zwart); /* Tekstkleur */
    width: 9em; /* Breedte */
    line-height: 2.5em; /* Verticaal centreren van de tekst */
 
    text-decoration: none; /* Verwijder de standaard onderstreping van de link */
    border-radius: .375em; /* Ronde hoeken toevoegen */   
}

main section:first-of-type ul li a svg {
    height: 1em;
}


main section:nth-of-type(1) ul li a:hover {
    background-color: #956f9e; 
    color: var(--color-text-wit); 
}


main section:nth-of-type(1) ul li a:hover svg {
    fill:currentColor;
}

main section:first-of-type img:first-of-type {
    width:90%; 
    max-width:30em;
    height:auto;
    order: -2;
}

main section:first-of-type img:nth-of-type(2) {
    width:5em; 
    height: 3.125em;

    order: -1;

    align-self: end;
}

@media (width > 44em) {
    main section:first-of-type {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr max-content max-content 1fr;
        column-gap: 1em;
        justify-items: start;
        padding-left:4em;
    }

    main section:first-of-type h2 {
        text-align: start;
        padding: 0em;
    }

    main section:first-of-type p {
        text-align: start;
        padding: 0em;
    }

    main section:first-of-type ul {
        justify-content: start;
        align-self: start;
    }

    main section:first-of-type img:nth-of-type(1) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 5;
    }


}

@media (width > 58em) {
    main section:first-of-type {
        grid-template-columns: 4fr 6fr;
        padding-left: 8em;
    }

    main section:first-of-type h2 {
        font-size: 2em;
    }

    main section:first-of-type p {
        font-size: 1.125em;
        line-height: 1.75rem;
    }

}



/* section 2 */
main section:nth-of-type(2) ul li a {
    font-family: legofont;
    font-weight: 400;
    font-size: 0.8em;
    color: var(--color-text-zwart);            
    text-decoration: none;    /* chatgpt */

}

main section:nth-of-type(2) ul li a:hover {
    text-decoration: underline;    /* chatgpt */
    color: var(--background-button-oranje);
}

main section:nth-of-type(2) ul {
    display: flex;
    flex-wrap:wrap;
    
}

main section:nth-of-type(2) ul li {
    flex-basis:10em;
    flex-grow:1;
  }

  main section:nth-of-type(2) ul li a {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:.125em;
    flex-direction: column-reverse;
  }

  main section:nth-of-type(2) ul li a img {
    width: 4.625em;
    height: 3.6875em;
  }

  
/* section 3 */

main section:nth-of-type(3) ul {
    
    display:flex;
  /* als er elementen uitsteken kun je er naar toe scrollen */
  /* https://css-tricks.com/almanac/properties/o/overflow/ */
  overflow-x:auto;
  padding: 1em;
}

main section:nth-of-type(3) ul li {
    /* om te zorgen dat de kinderen niet smaller worden dan hun initiele breedte */
    flex-shrink:0;
}


main section:nth-of-type(3) h2 {
    font-family: legofont;
    font-weight: 400;
    font-size: 1.125em;
    padding: 1.25em;
}

main section:nth-of-type(3) ul li {
    width:20em; 
    display:flex;
    flex-direction: column;
    margin: 1em;
}

main section:nth-of-type(3) ul li h3 {
    font-family: legofont;
    font-weight: 500;
    margin: 0;
    margin-top: .5em;
}

main section:nth-of-type(3) ul li > p:nth-of-type(1) {
    color: var(--color-yellow);
    font-size: 1.2em;
    margin: 0;
}

main section:nth-of-type(3) ul li p:nth-of-type(2) {
    font-family: legofont;
    font-weight: 700;
    font-size: 1.125em;
}

main section:nth-of-type(3) ul li > button {
    width:23em;
    height: 3.3125em;
    font-family: legofont;
    font-weight: 700;
    background-color: var(--background-button-oranje);
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
}

main section:nth-of-type(3) ul li > button:hover {
    width:23em;
    height: 3.3125em;
    font-family: legofont;
    font-weight: 700;
    background-color: var(--background-blue);
    border: 1px solid var(--background-orange);
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
}

main section:nth-of-type(3) ul li div {
    position: relative;

    order:-100;
    border: 2em;
    border: solid 0.1em var(--background-grey); 
    width: 20em;
    height: 20em;
}

main section:nth-of-type(3) ul li div button {
    position: absolute;
    top:1em;
    left:1em;
    color: red;
    border: none;
    border-radius: 3.125em;
    cursor: pointer;
}

main section:nth-of-type(3) ul li div button:hover {
    position: absolute;
    top:1em;
    left:1em;
    color: var(--background-button-oranje);
    border: none;
    border-radius: 3.125em;
    cursor: pointer;
}

main section:nth-of-type(3) ul li div a {
    display: block;

    position: relative;
    padding:1.5em;
}

main section:nth-of-type(3) ul li div a p {
    margin:0;

    position:absolute;
    left:1em;
    bottom:1em;

    font-family: legofont;
    font-weight: 400;
    color: var(--color-text-zwart);

    background-color: var(--color-yellow) ;
    width: 3.5em;
    height: 1.5em;

    display: flex;
    justify-content: center; 
    align-items: center; 

}

main section:nth-of-type(3) ul li div a img {
    width: 100%;
    height: 15.813em;

}

/* section 4 */

main section:nth-of-type(4) {
    background-color: var(--backgroundcolor-persoonlijk);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 5.3em 1fr 3em;

    margin: 1.125em;
}

main section:nth-of-type(4) h2 {
    font-family: legofont;
    font-weight: 700;
    font-size: 0.875em;
    line-height: 2em;
    grid-column-start: 2;
    grid-column-end: 3;
}

main section:nth-of-type(4) p {
    font-family: legofont;
    font-weight: 500;
    font-size: 0.75em;
    line-height: 1.5625em;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
}

main section:nth-of-type(4) ul {
    display: flex;
    align-items: center;
    gap:.75em;

    grid-column-start: 2;
    grid-column-end: 3;

    
}

main section:nth-of-type(4) ul li a {
    font-family: legofont;
    font-weight: 500;
    font-size: 0.75em;
    color: var(--color-text-link);
}


main section:nth-of-type(4) img:nth-of-type(1) {
    width: 6.25em;
    height: 6.25em;
    margin: 1em;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;

}

main section:nth-of-type(4) img:nth-of-type(2) {
   display: none;
}

@media (width > 49.6875em) {

    main section:nth-of-type(4) {
        display: grid;
        grid-template-columns: 8em 2fr 1fr;
        grid-template-rows: 2em 1fr 2em; 
    }

    main section:nth-of-type(4) img:nth-of-type(2) {
        display: block;

        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    main section:nth-of-type(4) img:nth-of-type(1) {
        width: 6.25em;
        height: 6.25em;
        margin: 1em;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    
    }
}

@media (width > 37.5em) {

    main section:nth-of-type(4) {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 4em 1fr 3em;
    }

    main section:nth-of-type(4) img:nth-of-type(2) {
        display: block;

        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    main section:nth-of-type(4) img:nth-of-type(1) {
        width: 6.25em;
        height: 6.25em;
        margin: 1em;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    
    }
}




/* section 5 */

main section:nth-of-type(5) {
    margin-top: 1em;
    background-color: var(--background-grey);
    padding: 1em;
}

main section:nth-of-type(5) h2 {
    font-family: legofont;
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
    margin-top: 1em;
}

main section:nth-of-type(5) ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main section:nth-of-type(5) ul li h3 {
    font-family: legofont;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
}

main section:nth-of-type(5) ul li p {
    font-family: legofont;
    font-weight: 400;
    font-size: 0.875em;;
    order: -1;
    text-align: center;
    margin: 2em;
}

main section:nth-of-type(5) ul li img {
    width: 23.25em;
    height: 16.11em;
}


main section:nth-of-type(5) ul li:first-of-type {
    background-color: var(--background-green);
    width: 23.25em;
    height:25em;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-bottom: 1em;
}


main section:nth-of-type(5) ul li:nth-of-type(2) {
    background-color: var(--background-pink);
    width: 23.25em;
    height:25em;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-bottom: 1em;
}

main section:nth-of-type(5) ul li:nth-of-type(3) {
    background-color: var(--background-yellow);
    width: 23.25em;
    height:25em;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-bottom: 1em;
}

main section:nth-of-type(5) ul li:nth-of-type(4) {
    background-color: var(--background-blue);
    width: 23.25em;
    height:25em;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-bottom: 1em;
}

@media (width > 37.5em) {

    main section:nth-of-type(5) > ul {
        display: grid;
        grid-template-columns: max-content max-content;
        gap: 1em;
    }

}

@media (width > 93.75em) {

    main section:nth-of-type(5) > ul {
        display: flex;
        flex-direction: row;
    }

}